[submodule "apps/vault-sync"]
	path = apps/vault-sync
	url = git@github.com:pjd-dev/vault-sync.git
[submodule "apps/auth"]
	path = apps/auth
	url = git@github.com:pjd-dev/vault-auth.git
[submodule "apps/llm-adapter"]
	path = apps/llm-adapter
	url = git@github.com:pjd-dev/vault-llm-adapter.git
