[submodule "apps/vault-sync"]
	path = apps/vault-sync
	url = git@github.com:pjd-dev/vault-sync.git
[submodule "apps/auth"]
	path = apps/auth
	url = git@github.com:pjd-dev/vault-auth.git
[submodule "apps/llm-adapter"]
	path = apps/llm-adapter
	url = git@github.com:pjd-dev/vault-llm-adapter.git
[submodule "apps/mcp"]
	path = apps/mcp
	url = git@github.com:pjd-dev/vault-mcp.git
[submodule "apps/vaulty"]
	path = apps/vaulty
	url = git@github.com:pjd-dev/vault-vaulty.git
[submodule "apps/viewer"]
	path = apps/viewer
	url = git@github.com:pjd-dev/vault-viewer.git
